<header class="p-3 bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {# <a class="navbar-brand" href="/">Supporting Cat's Ownership</a> #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <!-- Home -->
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
          </li>
          
          <!-- Resources links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle {% if '/resources/' in page.url %}active{% endif %}" 
              href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Resources
            </a>

            <ul class="dropdown-menu dropdown-menu-dark">
              {% for resource in resources %}
                {% set resourceUrl = '/resources/' + resource.slug + '/' %}
                <li>
                  <a 
                    class="dropdown-item {% if page.url == resourceUrl %}active{% endif %}" 
                    href="{{ resourceUrl }}">
                    {{ resource.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>    

        </ul>
      </div>
    </div>
  </nav>
</header>
